<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href= "{{ url_for('nodeDash.static', filename='img/logo.png') }}">
    <link rel="stylesheet" href= "{{ url_for('nodeDash.static', filename='css/dashboard.css') }}">
    <meta charset="utf-8">
    <title>Beehive Node Dashboard</title>
</head>
<body>

<h1 style="border-bottom-style: solid; margin-top: 40px;">
    <img src="{{ url_for('nodeDash.static', filename='img/logo.png') }}" alt="Logo" align="left">
    Beehive Node Dashboard</h1>

<div id="date"></div>

<script type="text/javascript">
function getDate() {
document.getElementById("date").innerHTML = "Date: " + Date();
t = setTimeout(function() {
    getDate()
  }, 1000);
}
getDate();
</script>
<p>indicator 1</p>
</body>
</html>